# Fitting a Logistic Regression Model - Lab

## Introduction
You were previously given a broad overview of logistic regression. This included two separate packages for creating logistic regression models. In this lab, you'll be investigating fitting logistic regressions with statsmodels.



## Objectives

You will be able to:
* Implement logistic regression with statsmodels
* Interpret the statistical results associated with regression model parameters

## Review

The statsmodels example we covered had four essential parts:
* Importing the data
* Defining X and y
* Fitting the model
* Analyzing model results

The corresponding code to these four steps was:

```
import pandas as pd
import statsmodels.api as sm

#Step 1: Importing the data
salaries = pd.read_csv("salaries_final.csv", index_col = 0)

#Step 2: Defining X and y
x_feats = ["Race", "Sex", "Age"]
X = pd.get_dummies(salaries[x_feats], drop_first=True, dtype=float)
y = pd.get_dummies(salaries["Target"], dtype=float)

#Step 3: Fitting the model
X = sm.add_constant(X)
logit_model = sm.Logit(y.iloc[:,1], X)
result = logit_model.fit()

#Step 4: Analyzing model results
result.summary()
```

Most of this should be fairly familiar to you; importing data with Pandas, initializing a regression object, and calling the fit method of that object. However, step 2 warrants a slightly more in depth explanation.

Recall that we fit the salary data using `Race`, `Sex`, and `Age`. Since `Race` and `Sex` are categorical, we converted them to dummy variables using the `get_dummies()` method. The ```get_dummies()``` method will only convert `object` and `category` data types to dummy variables so it is safe to pass `Age`. Note that we also passed two additional arguments, ```drop_first=True``` and ```dtype=float```. The ```drop_first=True``` argument removes the first level for each categorical variable and the ```dtype=float``` argument converts the data type of all of the dummy variables to float. The data must be float in order to obtain accurate statistical results from statsmodel. Finally, note that y itself returns a pandas DataFrame with two columns as y itself was originally a categorical variable. With that, it's time to try and define a logistic regression model on your own!

## Your Turn - Step 1: Import the Data

Import the data stored in the file **titanic.csv**.

In [1]:
# Load packages
import pandas as pd
import numpy as np

import statsmodels.api as sm

In [2]:
# Read in and preview data
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Step 2: Define X and Y

For your first foray into logistic regression, you are going to attempt to build a model that classifies whether an individual survived the Titanic shipwreck or not (yes it's a bit morbid). Follow the programming patterns described above to define X and y.

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
med_age = np.nanmedian(df['Age'])
print(med_age)
df['Age'].fillna(med_age, inplace=True)

28.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [7]:
# Define X and y
X = df.drop('Survived', axis=1)
X = pd.get_dummies(X, drop_first=True, dtype=float)
X = sm.add_constant(X)
y = df.Survived.astype(float)

display(X.head())
display(y.head())

/Users/jennykreiger/anaconda3/envs/learn-env/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

,const,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,1.0,1,3,22.0,1,0,7.2500,1.0,0.0,1.0
1,1.0,2,1,38.0,1,0,71.2833,0.0,0.0,0.0
2,1.0,3,3,26.0,0,0,7.9250,0.0,0.0,1.0
3,1.0,4,1,35.0,1,0,53.1000,0.0,0.0,1.0
4,1.0,5,3,35.0,0,0,8.0500,1.0,0.0,1.0

0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: Survived, dtype: float64

## Step 3: Fit the model

Now with everything in place, initialize a regression object and fit your model!

### Warning: If you receive an error of the form "LinAlgError: Singular matrix"

Statsmodels was unable to fit the model due to some Linear Algebra problems. Specifically, the matrix was not invertible due to not being full rank. In layman's terms, there was a lot of redundant, superfluous data. Try removing some features from the model and running it again.

In [9]:
# Fit the model
logit_model = sm.Logit(y, X)
result = logit_model.fit()

Optimization terminated successfully.
         Current function value: 0.440664
         Iterations 6

## Step 4: Analyzing results

Generate the summary table for your model. Then, comment on the p-values associated with the various features you chose.

In [10]:
# Print model summary
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      881
Method:                           MLE   Df Model:                            9
Date:                Mon, 21 Oct 2019   Pseudo R-squ.:                  0.3383
Time:                        08:13:39   Log-Likelihood:                -392.63
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 6.915e-81
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const           5.2141      0.582      8.953      0.000       4.073       6.356
PassengerId    9.4e-05      0.000      0.270      0.787      -0.001       0.001
Pclass         -1.0989      0.144     -7.648      0.000      -1.381      -0.817
Age            -0.0392      0.008     -5.001      0.000      -0.055      -0.024
SibSp          -0.3228      0.109     -2.959      0.003      -0.537      -0.109
Parch          -0.0923      0.119     -0.776      0.438      -0.326       0.141
Fare            0.0020      0.002      0.821      0.412      -0.003       0.007
Sex_male       -2.7293      0.201    -13.578      0.000      -3.123      -2.335
Embarked_Q     -0.0692      0.381     -0.181      0.856      -0.816       0.678
Embarked_S     -0.4184      0.236     -1.770      0.077      -0.882       0.045
===============================================================================
"""

## Your analysis here

It looks like the model could not detect a statistically significant effect from the `PassengerId`, `Parch`, `Fare`, `Embarked_Q`, and `Embarked_S` features. This means that a passenger's class, age, `SibSp`, and sex had significant effects on whether they survived or not.

## Level - up

Create a new model, this time only using those features you determined were influential based on your analysis in step 4.

In [12]:
# Your code here
X_select = X[['const', 'Pclass', 'Age', 'SibSp', 'Sex_male']]
logit_model = sm.Logit(y, X_select)
result = logit_model.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.444013
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      886
Method:                           MLE   Df Model:                            4
Date:                Mon, 21 Oct 2019   Pseudo R-squ.:                  0.3332
Time:                        08:15:13   Log-Likelihood:                -395.62
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 2.709e-84
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.1770      0.477     10.846      0.000       4.241       6.113
Pclass        -1.1757      0.120     -9.791      0.000      -1.411      -0.940
Age           -0.0396      0.008     -5.096      0.000      -0.055      -0.024
SibSp         -0.3544      0.103     -3.428      0.001      -0.557      -0.152
Sex_male      -2.7395      0.194    -14.122      0.000      -3.120      -2.359
==============================================================================
"""

In [41]:
# Do one prediction analytically using the model coefficients
# First, select the passenger whose fate we'll predict
choice = np.random.choice(range(len(X_select)))
passenger = X_select.iloc[choice,:]
passenger

const        1.0
Pclass       1.0
Age         40.0
SibSp        0.0
Sex_male     1.0
Name: 209, dtype: float64

In [42]:
# And their fate:
fate = y.iloc[choice]
if fate == 0:
    print(fate)
    print('They died.')
else:
    print(fate)
    print('They survived.')

1.0
They survived.

In [43]:
const = 5.1770
pclass = -1.1757
age = -0.0396
sibsp = -0.3544
sex_male = -2.7395

p_const = passenger.const
p_pclass = passenger.Pclass
p_age = passenger.Age
p_sibsp = passenger.SibSp
p_sex_male = passenger.Sex_male

exponent = -(const*p_const - pclass*p_pclass - age*p_age - sibsp*p_sibsp - sex_male*p_sex_male)
prediction = round(1 / (1 + 10**exponent))

print(prediction)
if prediction is 0:
    print('Prediction: They died.')
else: 
    print('Prediction: They survived.')

1.0
Prediction: They survived.

## Summary 

Well done! In this lab, you practiced using statsmodels to build a logistic regression model. You then reviewed interpreting the results, building upon your previous stats knowledge, similar to linear regression. Continue on to take a look at building logistic regression models in Sci-kit learn!